/*=======================================
    #Variables
=========================================*/
:root {
    /*=======================================
    COLORS
    =========================================*/
  
    /*============================
    Brand Colors
    ============================*/
    --primary: #2292b1;
    --gradient-start: #1b3385;
    --gradient-end: #25c5c9;
  
    /*============================
    Neutral Colors
    ============================*/
    --background: #0a0c11;
    --body-text: #abadb3;
    --border-color: #323438;
    --sub-menu-bg: #222;
    --white: #fff;
  
    /*=======================================
    TYPOGRAPHY
    =========================================*/
    /* 
    1. The Poppins font. This is the main font.
    https://fonts.googleapis.com/css?family=Poppins
    2. The Courier font. This is used for <pre> code.
    https://fonts.googleapis.com/css?family=Courier+Prime
    */
    --base-font: 20px;
    --primary-font: "Poppins";
    --secondary-font: "Courier+Prime";
  
    /*=======================================
    Font Weights
    =========================================*/
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --normal: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --heavy: 900;
  }
  
  /*=======================================
  BREAKPOINTS
  =========================================*/
    
  body {
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: var(--base-font);
    color: var(--body-text);
    background: var(--background);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--primary-font);
    font-weight: var(--medium);
    color: var(--white);
    margin: 0;
  }
  
  h1 {
    font-size: 4em;
    line-height: 1.5em;
  }
  
  h4,
  h5 {
    font-weight: var(--bold);
  }
  
  h6 {
    font-weight: var(--semi-bold);
  }
  
  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
  }
  
  a {
    color: var(--body-Text);
    text-decoration: none;
    font-size: 0.9em;
    font-style: normal;
    font-weight: var(--normal);
    line-height: 2.4em;
    text-transform: capitalize;
  }
  
    a:hover,  
  .logo:hover {
    color: var(--primary);
  }
  
  .selected {
    color: var(--primary);
  }
  .sub-menu a:hover{
    font-size: 0.75em;
    font-weight: var(--normal);
    margin: 5px;
    transition: .5s;
  }
  .my-button {
    width: 170px;
    padding: 15px 34.86px 16.08px 35px;
    border: 0;
    height: 56px;
    font-size: 0.9em;
    font-weight: var(--bold);
    border-radius: 30px;
    text-transform: capitalize;
    color: var(--white); 
    background: linear-gradient(
      90deg,
      var(--gradient-start) 0%,
      var(--gradient-end) 100%
    );
    
  }
  .my-button:hover{
    background: var(--white);
    color:var(--background);
   
 }
  
  /*=======================================
  HERO
  =========================================*/
  header {
    display: flex;
    width: 100%;
    height: 118.08px;
    margin: 0 auto;
    padding-left: 96px;
    padding-right: 105px;
  }
  
  header * {
    flex: 1;
  }
  
  .main-menu li {
    margin: 0 18px;
  }
  
  .main-menu li:nth-child(2) ul {
    display: none;
  }
  
  .main-menu li:nth-child(2) {
    min-width: 112px;
    position: relative;
  }
  
  .main-menu li:nth-child(2):hover ul {
    display: block;
  }
  
  .sub-menu {
    position: absolute;
    top: 44px;
    left: -20px;
    z-index: 99;
  }
  
  .sub-menu li {
    width: 235px;
    height: 44px;
    background-color: var(--sub-menu-bg);
    border-bottom: 1px solid var(--border-color);
    padding-left: 23px;
  }
  
  .sub-menu a {
    font-size: 0.75em;
    font-weight: var(--normal);
  }
  
  .logo {
    font-size: 1.6em;
    font-weight: var(--bold);
    color: var(--white);
  }
  
  .logo:hover {
    color: var(--primary);
    transition: 0.5s;
  }
  
  .socials {
    justify-content: flex-end;
  }
  
  .socials li {
    flex: 0;
    padding: 0 16px;
  }

  .socials li a:hover image{
    width: 100%;
    height: 100%;
    transform: scale(1.2em);
  }
  
  main section {
    width: 760px;
    margin: 0 auto;
    text-align: center;
    padding-top: 76px;
    padding-bottom: 70px;
  }
  
  main section p {
    margin-bottom: 50px;
    font-size: 1.2em;
    font-weight: var(--light);
  }
  
  .lowlight {
    opacity: 0.5;
  }
 
  