/*=======================================
    #Variables
=========================================*/

/**
  TABLE OF CONTENTS

  COLORS
  Brand colors............................These are the main brand colors.
  Neutral colors..........................White and black, gray sacale, secondary colors.
  Utility colors..........................Other colors to represent states: info, warning, sucess, etc.

  TYPOGRAPHY
  Font famillies..........................The fonts used in the design system.
  Font weights............................Font weights
  Sizes...................................Font sizing for body text, paragraphs, inputs
  Heading sizes...........................Font sizing for page headings

  BREAKPOINTS
  Breakpoints.............................Global responsive breakpoints definitions
*/

/*=======================================
    COLORS
=========================================*/

/*=======================================
    TYPOGRAPHY
=========================================*/
/* 
  1. The Poppins font. This is the main font.
  https://fonts.googleapis.com/css?family=Poppins

  2. The Courier font. This is used for <pre> code.
  https://fonts.googleapis.com/css?family=Poppins
*/

/*=======================================
    BREAKPOINTS
=========================================*/
/* global */

root {
  --baseFont: 16px;
  --primary-font: 'Poppins';
  --secondary-font: 'Roboto';
  --tertiary-font: 'Heebo';
  --primary-bg: #000;
  --secondary-bg: #0B0C10;
  --tertiary-bg: #121212;
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --heavy: 900;
  --white: #fff;
  --color-secondary: #66FCF1;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero{
  height: 100vh;
  width: 100%;
  background-color: black;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo{
  color: white;
  font-size: 30px;
}

.navbar ul li {
  list-style-type:none ;
  display: inline-block;
  padding: 10px 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover{
  color: #ea1538;
  transition: 3s;
}

.social{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.social ul li {
  list-style-type:none ;
  display: inline-block;
  padding: 3px 10px;
}
.container{
/* height: 100vh; */
display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
width: 100%;
background-color: black;
color: aliceblue;
align-content: center;
/* margin-left: 20%; */
}
.container{
display: flex;
   align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
  border: 2px solid white;
}
span{
opacity: 0.5;
}

.container p {
padding: 20px;
text-align: center;
}
.container button{
padding: 20px;
margin-bottom: 20px;
border-radius: 35%;
width: 150px;
}
video{
max-width: 70%;
max-height: 500px;
}